@import "@styles/variables";

.container {
	cursor: pointer;

	display: grid;
	align-content: center;
	justify-content: center;

	width: 160px;
	height: 160px;

	border-radius: 100%;
}

.click {
	position: relative;
	z-index: 5;
}

.js {
	background-color: $color-js;
}

.ts {
	background-color: $color-ts;
}

.react {
	background-color: $color-react;
}

.redux {
	background-color: $color-redux;
}

.webpack {
	background-color: $color-webpack;
}

.nodejs {
	background-color: $color-nodejs;
}

.html {
	background-color: $color-html;
}

.scss {
	background-color: $color-scss;
}

.git {
	background-color: $color-git;
}


@media (max-width: 1199.98px) {
	.container {
		width: 120px;
		height: 120px;

		.image {
			width: 60px;
			height: 60px;
		}
	}
}

@media (max-width: 991.98px) {
	.container {
		width: 85px;
		height: 85px;

		.image {
			width: 40px;
			height: 40px;
		}
	}
}

@media (max-width: 575.98px) {
	.container {
		width: 63px;
		height: 63px;

		.image {
			width: 30px;
			height: 30px;
		}
	}
}