$color-white: #fff;
$color-black: #000;
$color-purple-dark: #4a0072;
$color-purple: #7b1fa2;
$color-purple-ligth: #ae52d4;
$color-js: #fff59d;
$color-ts: #757de8;
$color-react: #bbdefb;
$color-redux: #b39ddb;
$color-webpack: #aab6fe;
$color-nodejs: #e6ee9c;
$color-html: #ffab91;
$color-scss: #f48fb1;
$color-git: #ef9a9a;
